{% extends 'base.html' %}
{% block content %}
<div id="affiliateContainer">
    <h1>Become an affiliate today</h1>
    <img src="https://image.flaticon.com/icons/svg/1999/1999214.svg" id="affiliateImage">
        <div id="affiliateTextBox"><p>Joining Candy Console is free of charge and has never been easier! To join,
        you simply require our own approval to join with no third-party advertiser involvement. </p>
        <p>You can chose from our collection of various products to advertise to your customers and earn up to
            10% in advertising fees. What are you waiting for, join us today at Captain Console
            by email enquiry to <a href="mailto:captainconsole@contact.com">captainconsole@contact.com</a>!</p>
        </div>
    <br>
</div>
{% endblock %}