{% extends 'base.html' %}
{% block content %}
<div id="affiliateContainer">
    <h1>Shipping Rates</h1>
    <br>
    <img src="https://blog.recurly.com/hubfs/Blog-Files/Recurly-Shipping-Fees.png" id="affiliateImage">
        <div id="affiliateTextBox">
            <h3>
                <br>
                Antarctica: 1000$<br>
                Asia: 20$<br>
                Europe: 10$<br>
                USA: 15$<br>
                Other: 25$<br>
                <br>
            </h3>
            <p>Please contact
                <a href="mailto:captainconsole@contact.com">captainconsole@contact.com</a>
                for further questions regarding shipping.
            </p>
        </div>
</div>
{% endblock %}