{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
    <link rel="{% static 'css/base.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="bg-white col-6">
                <h1>500</h1>
                <h1>Whoops! Looks like theres some trouble in the server</h1>
                <p>Please click <a href="{% url 'home-index' %}">here</a> to try again!</p>
            </div>
            <div class="col-6">
                <img class="img-fluid" alt="404" src="https://www.pngitem.com/pimgs/m/535-5351342_picture-legend-of-zelda-link-pixel-gif-hd.png">
            </div>
        </div>
    </div>
{% endblock %}