{% extends 'backend/backendbase.html' %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/backend/update_product.css' %}">
{% endblock %}
{% block content %}
    <div class="container container-product-update">
        <form action="{% url 'add_image' productID%}" method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <a href="{% url 'update_product' productID  %}" class="btn btn-secondary" role="button" aria-pressed="true">Cancel</a>
            <input type="submit" value="Add image" class="btn btn-success">
        </form>
    </div>
{% endblock %}
