{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/shop/shop.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}">

<div class="singleProducts">
        <img class="productImage" src="https://elko.is/media/catalog/product/cache/5ca3b4f0a50077dea1f180edffcd2886/P/S/PS4FIFA20.jpg"/> <! –– {{ shop.ProductImage.image}} –– >
        <h4>{{product.name}}</h4>
        <p>{{product.price}}$</p>
        <p>{{product.short_description}}</p>
    <a href="{% url 'delete_product' product.id%}" class=""button>Remove product</a>
    <a href="{% url 'update_product' product.id%}" class=""button>Update product</a>
</div>