{% extends 'backend/backendbase.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/backend/backend.css' %}">
{% block content %}
    <script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js'></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'js/backendProducts.js' %}"></script>
<div class="col">
    <div id="allProducts"><h1> All products</h1></div>
    <input type="search" id="productSearch" placeholder="Search">


    <div class="d-flex flex-row-reverse">
        <div id="createButton1"><div id="button" align="right"><a class="btn btn-primary" href="{% url 'create_product' %}"> Add new product</a></div></div>
        <div id="createButton2"><div id="button" align="right"><a class="btn btn-primary" href="{% url 'delete_category' %}"> Delete category</a></div></div>
        <div id="createButton2"><div id="button" align="right"><a class="btn btn-primary" href="{% url 'create_category' %}"> Add new category</a></div></div>
    </div>


    <div class="table-responsive" id="tableContainer">
        <table class="productTable">
            <thead>
                <tr>
                    <th>Product name</th>
                    <th>Product ID</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Discount (%)</th>
                    <th>Short description</th>
                    <th>Operations</th>
                </tr>
            </thead>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.id }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.discount }}</td>
                <td>{{product.short_description}}</td>
                <td><div class="buttonBoxes">
                        <div class="button"><a class="btn btn-success" href="{% url 'update_product' product.id %}"> Update</a></div>
                        <div class="button"><a class="btn btn-success" href="{% url 'delete_product' product.id%}"> Remove</a></div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
          </div>

{% endblock %}

