{% extends 'backend/backendbase.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/backend/backend.css' %}">
{% block content %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{% static 'js/backend_products.js' %}"></script>

<div class="col">
    <div id="allProducts"><h1 style="color:white"> All users</h1></div>
    <input type="search" id="productSearch" placeholder="Search">
    <div id="createButton3"><div id="button" align="right"><a class="btn btn-primary" href="{% url 'create_user' %}"> Add new user</a></div></div>

    <div class="table-responsive" id="tableContainer">
        <table class="productTable">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <!-- <th>Cart ID</th> -->
                    <th>Address</th>
                    <th>Image</th>
                    <th>Enabled</th>
                    <th>Operations</th>
                </tr>
            </thead>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <!-- <td>{{ user.cart }}</td> -->
                <td>{{ user.address }}</td>
                <td>{{ user.image }}</td>
                <td>{{ user.enabled }}</td>
                <td><div class="buttonBoxes">
                        <div class="button"><a class="btn btn-success" href="{% url 'update_user' user.id %}"> Update</a></div>
                        <div class="button"><a class="btn btn-success" href="{% url 'delete_user' user.id %}"> Remove</a></div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}

