{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/backend/backend.css' %}">

<div class="grid-container">
    <div class="productInfoBox"> <!-- add link to product details for each product f.x.  url 'backendProductdetails'  -->
        <div class="productName"><p>{{product.name}}</p></div>
        <<div class="productInfoHeader"><p>{{product.id}}</p></div>
        <div class="productInfoHeader"><p>{{product.price}}$</p></div>
        <div class="productInfoHeader"><p>{{product.category}}</p></div>
        <div class="productInfoHeader"><p>{{product.short_description}}</p></div>
             <div class="buttonBoxes">
                <div class="button"><a class="buttonEffect" href="{% url 'update_product' product.id %}"> Update product</a></div>
                <div class="button"><a class="buttonEffect" href="{% url 'delete_product' product.id%}"> Remove product</a></div>
             </div>
    </div>

</div>


