{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/backend/update_product.css' %}">
{% endblock %}
{% block content %}
    <div class="container container-product-update">
        <h2>Add new product</h2>
        <div class="row">
            <div class="col-6">
                <form action="{% url 'create_product' %}" method='POST' name="updateInfo">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <a href="{% url 'backend_index' %}" class="btn btn-primary" role="button" aria-pressed="true">Back</a>
                    <input type="submit" value="Create product" class="btn btn-success">
                </form>
                <br>
            </div>
            <div class="col-6">

            </div>
        </div>
    </div>
        <br>

{% endblock %}
