{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <form action="{% url 'create_product' %}" method='POST' name="updateInfo">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <a href="{% url 'backend_index' %}" class="btn btn-primary" role="button" aria-pressed="true">Back</a>
                    <input type="submit" value="Create product" class="btn btn-success">
                </form>
                <br>
            </div>
            <div class="col-6">

            </div>
        </div>
    </div>
        <br>

{% endblock %}
