{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/shop/shop.css' %}">
{% endblock %}
{% block content %}
    <!-- mobile only sidebar -->
    <button class="ml-3 btn-primary d-md-none" data-target="#filterBar" data-toggle="collapse">&#9776</button>
    <div id="filterBar" class="d-md-none">
    {% include 'shop/sidebar_mobile.html' %}
    </div>
    <!-- sidebar for medium or bigger screens (iPads and bigger) -->
    <div class="row w-75 mx-auto">
        <div id="desktop-sidebar" class="d-none d-sm-none d-md-block col-md-3 bg-white">
            {% include 'shop/sidebar.html' %}
        </div>
    <!-- feed -->
        <div id="main-grid" class="col-xs-12 col-sm-12 col-md-9 bg-white" id="mainShoppingContainer">
        {% if failsafe %}
            <div class="bg-warning text-center w-100"><b>No products matched the filters, showing all products</b></div>
        {% endif %}
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-3">
                {% for product in page_obj %}
                    {% if product %}
                    <div id="productCard">
                    {% include 'shop/single_product.html' with product=product %}
                        <br>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        <div class="pagination">
            <span class="step-links">
                <div id="current">
                    <span class="current">
                        <b>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</b>
                    </span>
                </div>
                <div class="row">
                    <div id="first-previous">
                        {% if page_obj.has_previous %}
                            <a class="fast-forward" href="?page=1"><i class="fa fa-fast-backward">
                                <b>First</b></i>
                            </a>
                            <a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-chevron-left"></i> Previous</a>
                        {% endif %}
                    </div>

                    <div id="last-next">
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Next <i class="fa fa-chevron-right"></i></a>
                        <a class="fast-forward" href="?page={{ page_obj.paginator.num_pages }}"><i class="fa fa-fast-forward">
                            <b>Last</b></i>
                        </a>
                    {% endif %}
                    </div>
                </div>
            </span>
        </div>
        </div>
    </div>


{% endblock %}
{% block scripts %}
    <script src="{% static 'js/shop.js' %}"></script>
{% endblock %}