<div class="pt-5">
    <label for="search">
        <b>Search:</b>
    </label>
    <input class="form-control" type="search" id="search" placeholder="Search product...">
</div>
<form id="sidebar" action="{% url 'shop-index' %}" method="get">
    <div class="row w-100">
        <div class="p-0 col-6 col-md-12 m-0">
            <div id="categories">
                {{ categories }}
            </div>

        </div>
        <div class="p-0 col-6 col-md-12 m-0">
            <div id="filters">
                {{ filters }}
            </div>
        </div>
    </div>
    <button class="ml-3 btn btn-primary" type="submit" value="shop">Filter</button>
</form>