<div class="pt-5">
</div>
<form id="sidebar" action="{% url 'shop-index' %}" method="get">
    {{ searchBar }}
    <div class="row w-100">
        <div class="p-0 col-6 col-md-12 m-0">
            <div id="categories">
                {{ categories }}
            </div>

        </div>
        <div class="p-0 col-6 col-md-12 m-0">
            <div id="filters">
                {{ filters }}
            </div>
        </div>
    </div>
    <button class="ml-3 btn btn-primary" type="submit" value="shop">Filter</button>
</form>