{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/user/profile.css' %}">
    <title>Captain Console</title>
  </head>
<body>
    <!--LOGO HEADER START-->
    <header>
      <div class="jumbotron" id=mainheader>
        <img src="{% static 'images\base_cover.png' %}">
      </div>
    </header>
    <!--LOGO HEADER END-->

    <!--NAVIGATION BAR START-->
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="{% url 'home-index' %}">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'shop-index' %}">Shop <span class="sr-only">(current)</span></a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item active ml-auto">
            <a class="nav-link" href="{% url 'cart-index' %}">Shopping cart<span class="sr-only">(current)</span></a></a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item" id=profileButton >
            <a class="navbar-brand" href="{% url 'profile-index' %}">
              <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="true" autocomplete="off">
              Profile
            </button>
            </a>
          </li>
          <li class="nav-item" id=logoutButton >
            <a class="navbar-brand" href="{% url 'logout' %}">
              <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="true" autocomplete="off">
              Logout
            </button>
            </a>
          </li>
          {% else %}
          <li class="nav-item" id=loginButton >
            <a class="navbar-brand" href="{% url 'login' %}">
              <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="true" autocomplete="off">
              Login
            </button>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <!--NAVIGATION BAR END-->

    <!--PAGE SPECIFIC CONTENT-->
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <!--PAGE SPECIFIC CONTENT-->

    <!-- FOOTER START -->
    <footer class="page-footer font-small blue-grey lighten-5" id="footerinner">
        <div style="background-color: #626463;">
          <div class="container">
            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center"></div>
            <!-- Grid row-->
          </div>
        </div>

        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">
          <!-- Grid row -->
          <div class="row mt-3 dark-grey-text">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
              <!-- Content -->
              <h6 class="text-uppercase font-weight-bold">Captain Console</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>Captain console is an up and coming e-commerce company distributing consoles, games and other accessories
                to thousands of customers!
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold">Products</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <a class="dark-grey-text" href="#!">Playstation</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#!">xBox</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#!">Nitento</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#!">Gameboy</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold">Useful links</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <a class="dark-grey-text" href="#!">Your Account</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#!">Become an Affiliate</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#!">Shipping Rates</a>
              </p>
              <p>
                <a class="dark-grey-text" href="#!">Help</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold">Contact</h6>
              <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
              <p>
                <i class="fas fa-home mr-3"></i> Reykjavík, Iceland</p>
              <p>
                <i class="fas fa-envelope mr-3"></i> captainconsole@contact.com</p>
              <p>
                <i class="fas fa-phone mr-3"></i> + 354 5812345</p>
              <p>
                <i class="fas fa-print mr-3"></i> + 354 5812345</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
          <a class="dark-grey-text" href="https://runescapegoldexchange.com"> CaptainConsole.com</a>
        </div>
        <!-- Copyright -->
    </footer>
  <!-- FOOTER END -->

    <!-- link for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Custom scripts from staticfiles -->
    <script src="{% static 'js/shop.js' %}"></script>
    <script src="{% static 'js/user.js' %}"></script>
</body>
</html>