{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user/profile.css' %}">
{% endblock %}
{% block content %}
<div class="container" id="mainContainer">
    <div class="row" id="row1">
        <div class="col-md-12">
            <div id="myInfo">
            </div>
                <div id="search_history_btn_container">
                    <a href="{% url 'search-history' %}" class="btn btn-primary">Search History</a>
                </div>
                <div id="profile_image_container">
                    <img class='img-responsive' src="{{ user.image }}" alt="Supposed to be an image" id="profile_pic">
                </div>
                <div id="username">
                    <b>{{user.username}}</b>
                </div>
                <div id="changePicButton">
                    <a href=" {% url 'edit-profile-pic' %}" class="btn btn-primary">Change Profile Picture</a>
                </div>

        </div>
    </div>


    <div class="row">
    </div>

    <div class="row">
        <div class="col-md-6" id="information">
            <form id="user-form">
                    <fieldset id="user-fieldset" disabled="true">
                        <legend>My Information:</legend>
                        {% csrf_token %}
                        <lable for="first_name"><b>First Name</b></lable>
                        <div class="form-group">
                           <input type="text" value="{{ user.first_name }}">
                        </div>
                        <lable for="last_name"><b>Last Name</b></lable>
                        <div class="form-group">
                           <input type="text" value="{{ user.last_name }}">
                        </div>
                        <lable for="email"><b>Email</b></lable>
                        <div class="form-group">
                           <input type="email" value="{{ user.email }}">
                        </div>
                    </fieldset>
                </form>
                 <a href="{% url 'edit-person' %}" class="btn btn-primary">Edit person</a>
        </div>

            <div class="col-md-6" id="address">
                <form id="address-form">
                    {% csrf_token %}
                    <fieldset id="address-fieldset" disabled="disabled">
                        <legend>Shipping address:</legend>
                        <label for="full_name"><b>Full Name</b></label>
                        <div class="form-group">
                           <input type="text" value="{{ address.full_name }}">
                        </div>
                        <label for="street"><b>Street</b></label>
                        <div class="form-group">
                           <input type="text" value="{{ address.address }}">
                        </div>
                        <label for="city"><b>City</b></label>
                        <div class="form-group">
                           <input type="text" value="{{ address.city }}">
                        </div>
                        <label for="country"><b>Country</b></label>
                        <div class="form-group">
                           <input type="text" value="{{ address.country }}">
                        </div>
                        <label for="post_code"><b>Postcode</b></label>
                        <div class="form-group">
                           <input type="text" value="{{ address.postal_code }}">
                        </div>
                        <label for="note"><b>Additional</b></label>
                        <div class="form-group">
                           <input type="text" value="{{ address.note }}">
                        </div>
                        <label for="email"><b>Email</b></label>
                        <div class="form-group">
                           <input type="text" value="{{ address.email }}">
                        </div>
                     </fieldset>
                </form>
                <a href="{% url 'edit-address' %}" class="btn btn-primary" id="editAddressButton">Edit address</a>
            </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/user.js' %}"></script>
{% endblock %}
