body {
    background-image: radial-gradient( circle 343px at 46.3% 47.5%,  rgba(242,242,242,1) 0%, rgba(241,241,241,1) 72.9% );

}

#mainheader{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(105,141,175,1) 100%);
    margin:0;
    padding: 0;
    margin-bottom: 5px;
}

#mainheader img {
    height: 200px;
}

.navbar{
    font-weight: 550;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #a7adb0;
    color: rgb(2,0,36);
}

.nav-item {
    padding-left: 10px;
    margin-left: 10px;
}

#loginButton{
    margin-right: 15px;
}

#affiliateContainer {
    margin: auto;
    text-align: center;
}

#affiliateImage {
    text-align: center;
}

#button-form {
    margin: 0px;
    -moz-margin:0px;
    -webkit-margin:0px;

}


#shoppingcart-icon{
    color: black;
    font-size:26px;
    padding-right: 5px;
}

#shopping-cart-button {
    height: 39px;
    width: 70px;
    margin:0;
    display: inline-flex;
    justify-content: center;
    padding-top: 5px;
}

#button-item-count {
    display: inline-block;
    color: red;
    font-weight: 700;
    margin-bottom: 5px;
}

ul {
  list-style-type: none;
}

#paymentImage {
    height: 240px;
}



