{% load static %}
body {
    background-image: url("https://w.wallhaven.cc/full/dg/wallhaven-dgkz1g.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main {
    min-height: 650px;
}

footer {
    background-color: white;
}
#mainheader{
    background-image: url("https://w.wallhaven.cc/full/dg/wallhaven-dgkz1g.png");
    margin:0;
    padding: 0;
    margin-bottom: 5px;
}

#mainheader img {
    height: 200px;
}

.navbar{
    font-weight: 550;
    border-radius: 10px;
    margin-bottom: 20px;
    background: #FDB226;
    color: rgb(2,0,36);
}

.nav-item {
    padding-left: 10px;
    margin-left: 10px;
}

#loginButton{
    margin-right: 15px;
}

#affiliateContainer {
    margin: auto;
    text-align: center;
}

#affiliateImage {
    text-align: center;
}

#button-form {
    margin: 0px;
    -moz-margin:0px;
    -webkit-margin:0px;
}


#shoppingcart-icon{
    color: black;
    font-size:26px;
    padding-right: 5px;
}

#shopping-cart-button {
    height: 39px;
    width: 70px;
    margin:0;
    display: inline-flex;
    justify-content: center;
    padding-top: 5px;
}

#button-item-count {
    display: inline-block;
    color: red;
    font-weight: 700;
    margin-bottom: 5px;
}

ul {
  list-style-type: none;
}

#paymentImage {
    height: 240px;
}





