.button {
    /*margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;*/
    margin: auto;
}
.buttonEffect {

    color: #20bf6b !important;
text-transform: uppercase;
background: #ffffff;
padding: 20px;
border: 4px solid #20bf6b !important;
border-radius: 6px;
display: inline-block;
transition: all 0.3s ease 0s;
}

.buttonEffect:hover {
color: #494949 !important;
border-radius: 50px;
border-color: #494949 !important;
transition: all 0.3s ease 0s;
}

.buttonBoxes {
    display: flex;
}

.singleProducts {
    display: flex;
    margin-bottom: 30px;
}

.productImage {
    height: 100px;
    width: 100px;
}

.productName {
    margin-right: 50px;
}

.productInfoBox {
    display: flex;
}

.productBox {
    background-color: lightblue;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.productInfoHeader {
    margin-right: 50px;
}

#productSearch, #allProducts {
    margin-left: 5%;
}

#createButton {
    margin-right: 5%;
    margin-bottom: 10px;
}

table {
    table-layout: auto;
    width: 90%;
    margin: auto;
    background-color: lightgrey;
    border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

th {
    background-color: #99CCFF;
}

td {
    background-color: #FFFFFF;
}

tbody tr:hover {
  background: yellow;
}

