.button {
    /*margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;*/
    margin: auto;
}

.buttonBoxes {
    display: flex;
}

.singleProducts {
    display: flex;
    margin-bottom: 30px;
}

.productImage {
    height: 100px;
    width: 100px;
}

.productName {
    margin-right: 50px;
}

.productInfoBox {
    display: flex;
}

.productBox {
    background-color: lightblue;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.productInfoHeader {
    margin-right: 50px;
}

#productSearch, #allProducts {
    margin-left: 5%;
}

#createButton1 {
    margin-right: 70px;
    margin-bottom: 10px;
}

#createButton2 {
    margin-right: 20px;
    margin-bottom: 10px;
}

.flex-row-reverse {
    width: 100%;
    margin-right: 0px;
}

table {
    table-layout: auto;
    min-width: 90%;
    margin: auto;
    background-color: lightgrey;
    border-collapse: collapse;
    max-width: 100%;
    font-size: 13px;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

th {
    background-color: #99CCFF;
}

td {
    background-color: #FFFFFF;
}

tbody tr:hover {
  background: lightblue;
}

#tableContainer {
    margin-bottom: 30px;
}


