{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/order/order.css' %}">
{% endblock %}
{% block content %}
    <div class="container">

        <div class="row">
            <h1>Payment successful!</h1>
        </div>

        <div id="row">
            <p>
                Your payment was successful! <br>
                Shortly you will receive an email with your order information. <br>
                To go back to the store press the button below "Back to store" <br>
            </p>
        </div>

                <a href="{% url 'shop-index' %}" class="btn btn-success">Back to shop</a>
        </div>
{% endblock %}