{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/order/order.css' %}">
{% endblock %}
{% block content %}

    <div class="container">

        <div class="row">
            <div class="btn-group btn-group-toggle" data-toggle="buttons" id="radioButtons">
              <label class="btn btn-secondary active">
                <input type="radio" name="options" id="option1" autocomplete="off" href="#" disabled> Shipping
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="options" id="option2" autocomplete="off" checked href="#" disabled> Payment
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="options" id="option3" autocomplete="off" href="#" disabled> Summary
              </label>
            </div>
        </div>

        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 66%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <div class="row" id="orderHeaderText">
            <h1>Payment Information</h1>
        </div>

        <div class="row">
            <div class="container" id="form">
            <form id="billing-form" action="{% url 'billing-index' %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                     <div class="input-group"><b>{{ field.label_tag }}</b></div>
                    {% if field.name in request.session %}
                        {% if field.name == "cardholder_name" %}
                            <input id="cardholder-name-value" type="hidden" value="{{ request.session.cardholder_name }}" disabled>
                        {% elif field.name == "credit_card_num" %}
                            <input id="credit-card-num-value" type="hidden" value="{{ request.session.credit_card_num }}" disabled>
                        {% elif field.name == "expiry_year" %}
                            <input id="expiry-year-value" type="hidden" value="{{ request.session.expiry_year }}" disabled>
                        {% elif field.name == "expiry_month" %}
                            <input id="expiry-month-value" type="hidden" value="{{ request.session.expiry_month }}" disabled>
                        {% endif %}
                    {% endif %}
                    {{ field }}
                    {% if form.errors %}
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
            </form>
            </div>

        </div>

        <div id="next-previous" class="row">
            <div id="checkoutButtons">
                <a href="{% url 'shipping-index' %}" class="btn btn-success">< Previous</a>
                <!-- <a href="{% url 'summary-index' %}" class="btn btn-success">Next</a> -->
            </div>
            <div id="next-button">
                 <button form="billing-form" type="submit" value="submit" class="btn btn-primary">Next ></button>
            </div>
        </div>





    </div>

{% endblock %}
{% block scripts %}
    <script src="{% static 'js/billing.js' %}"></script>
{% endblock %}