{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/cart/cart.css' %}">
    <link rel="stylesheet" href="{% static 'css/order/order.css' %}">
{% endblock %}
{% block content %}
    <div class="container">

        <div class="row">
            <div class="btn-group btn-group-toggle" data-toggle="buttons" id="radioButtons">
              <label class="btn btn-secondary active">
                <input type="radio" name="options" id="option1" autocomplete="off" href="#" disabled> Shipping
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="options" id="option2" autocomplete="off" href="#" disabled> Payment
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="options" id="option3" autocomplete="off" checked href="#" disabled> Summary
              </label>
            </div>
        </div>

        <div class="progress" id="progressBar">
            <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <div class="row" id="orderHeaderText">
            <h1 style="color:white">Order Summary</h1>
        </div>
        <div id="order-content">
            <div id="order-data" class="row">
                <div class="col">
                    <h2>Shipping information</h2>
                    <br><b>
                    {{ request.session.address }} <br>
                    {{ request.session.country }} <br>
                    {{ request.session.city }} <br>
                    {{ request.session.postal_code }} <br>
                    {{ request.session.note }}
                    </b>
                </div>

                <div class="col">
                    <h2>Payment information</h2>
                    <br>
                    <b>
                    {{ request.session.cardholder_name }} <br>
                    {{ request.session.credit_card_num }} <br>
                    {{ request.session.expiry_month }}/{{ request.session.expiry_year }} <br>
                    {{ request.session.CVC }}
                    </b>
                </div>
            </div>

            <div id="cart-details" class="row">
                <div id="cart-details-container" class="col">
                    <div class="text-center">
                        <h2 style="color:white;">Product Details</h2>
                    </div>
                    <div id="cart-container">
                        {% for form in forms %}
                            <form class="form-inline single-cart-form" method="POST" action="{% url 'edit-cart-index' %}">
                                 <!-- product image -->
                                <div class="input-group mb-3">
                                    <img src="{{ form.image.value }}" alt="ImageNotFound" class="product-icon">
                                </div>

                                {% csrf_token %}

                                <!-- name -->
                                <div class="form-group">
                                    <div class="d-flex flex-column">
                                        <!-- label -->
                                        <b>
                                            <label for="{{ form.name.id_for_label }}">
                                            {{form.name.label}}
                                            </label>
                                        </b>
                                        <!-- input -->
                                        <div class="input-group mb-3">
                                             <input type="{{ form.name.field.widget.input_type }}" name="{{ form.name.name }}"
                                                    value="{{ form.name.value }}" class="form-control is-name-{{ form.product_id.value }}"
                                                    required id="{{ form.name.id_for_label }}" readonly="readonly">
                                        </div>
                                    </div>
                                </div>

                                <!-- price -->
                                <div class="form-group">
                                    <div class="d-flex flex-column">
                                        <!-- label -->
                                        <b>
                                            <label for="{{ form.price.id_for_label }}">
                                            {{form.price.label}}
                                            </label>
                                        </b>

                                        <!-- input -->
                                        <div class="input-group mb-3">
                                             <input type="{{ form.price.field.widget.input_type }}" name="{{ form.price.name }}"
                                                    value="{{ form.price.value }}" class="form-control is-price-{{ form.product_id.value }}"
                                                    required id="{{ form.price.id_for_label }}" readonly="readonly">
                                        </div>
                                    </div>
                                </div>

                                <!-- quantity -->
                                <div class="form-group">
                                    <div class="d-flex flex-column">
                                        <!-- label -->
                                        <b>
                                            <label for="{{ form.quantity.id_for_label }}">
                                            {{form.quantity.label}}
                                            </label>
                                        </b>

                                        <!-- input group -->
                                        <div class="input-group mb-3">
                                            <!-- input field -->
                                            <input type="{{ form.quantity.field.widget.input_type }}" name="{{ form.quantity.name }}"
                                                value="{{ form.quantity.value }}" class="form-control quantity {{ form.product_id.value }}"
                                                min="1" max="50" step="1" required id="{{ form.quantity.id_for_label }}" readonly="readonly">
                                        </div>
                                     </div>
                                </div>

                                <!-- total price -->
                                <div class="form-group">
                                    <div class="d-flex flex-column">
                                        <!-- label -->
                                        <b>
                                            <label for="{{ form.total_price.id_for_label }}">
                                            {{form.total_price.label}}
                                            </label>
                                        </b>

                                        <div class="input-group mb-3">
                                             <input type="{{ form.total_price.field.widget.input_type }}" name="{{ form.total_price.name }}"
                                                    value="{{ form.total_price.value }}" class="form-control total-price-{{ form.product_id.value }}"
                                                    required id="{{ form.total_price.id_for_label }}" readonly="readonly">
                                        </div>
                                    </div>
                                </div>
                                <!-- image -->
                                {{ form.image }}


                                <!-- error display -->
                                {% if form.errors %}
                                    {% for error in field.errors %}
                                        {{ error }}
                                    {% endfor %}
                                {% endif %}

                            </form>
                            {% endfor %}
                        </div>
                        <h2 style="color:white;">Order total: {{ cart_total }}$</h2>
                    </div>

                </div>
            </div>
        </div>
        <div id="next-previous" class="row">
            <div id="checkoutButtons">
                <a href="{% url 'billing-index' %}" class="btn btn-primary">< Previous</a>
            </div>
            <div id="next-button">
                <a href="{% url 'success' %}" class="btn btn-success">Place your order</a>
            </div>
        </div>
    </div>
{% endblock %}