.carousel-margins {
    margin: 40px;
}

.carousel-inner {
    border-radius: 5% 0% 5% 5%;
    border: 1px solid black;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: #94ceff;
}

.home-card-text {
    text-align: center;
    color: black;
    background: rgb(209,215,218);
    background: linear-gradient(90deg, rgba(209,215,218,0.7511379551820728) 100%, rgba(105,141,175,1) 100%);
}